<footer>

    Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a
        href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>

</footer>
</body>

</html>