<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="css/styles.css">

</head>

<body>

    <div class="box" id="heading">
        <h1><%= kindOfDay %> </h1>

    </div>
    <div class="box">
        <% for (var i=0; i < newListItems.length; i++){ %>
        <div class="item">
            <input type="checkbox">
            <p> <%= newListItems[i] %> </p>
        </div>
        <% } %>

        <div class="input">
            <form class="item addForm" action="/" method="POST">
                <input type="text" name="newItem" placeholder="What's next?" autocomplete="off">
                <button class="addButton" type="submit"><img class="addImage" src="img/plus.png"
                    alt="delete img"></button>
            </form>
            <form class="deleteForm" action="/delete" method="POST">
                <button class="deleteButton" type="submit"><img class="deleteImage" src="img/delete.png"
                        alt="delete img"><a class="removeText" >Remove last</a></button>
            </form>
        </div>
    </div>

    <footer>

        Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a
            href="https://www.flaticon.com/" title="Flaticon" target="_blank"> www.flaticon.com</a>

    </footer>
</body>

</html>